.pricing {
    width: 100%;
    min-height: 600px;
    padding: 8em 0;
    background-color: #d1dfef;

    .pricing-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        .pricing-title {
            font-size: 3rem;
            font-weight: 600;
            color: #0b1d2e;
            margin-bottom: 0;
        }

        .pricing-description {
            font-family: "Vollkorn", sans-serif;
            font-size: 1.4rem;
            opacity: 0.8;
        }

        .price-cards {
            margin-top: 4em;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .price-card {
                width: 32%;
                padding: 2em;
                border-radius: 5px;
                box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
                background-color: #faf7f2;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:nth-child(1),
                &:nth-child(3) {
                    position: relative;
                    top: 30px;
                }

                .price-top {
                    .plan-title {
                        color: #0b1d2e;
                        margin-top: 0.5em;
                        font-family: "Vollkorn", sans-serif;
                        font-size: 2rem;
                        margin-bottom: 0;
                    }

                    .plan-desc {
                        opacity: 0.5;
                        color: #0b1d2e;
                    }
                }

                .price-bottom {
                    .plan-price {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: #0b1d2e;
                    }

                    .plan-detail {
                        color: #0b1d2e;
                        opacity: 0.5;
                    }

                    .buy-button {
                        font-family: "Sora", sans-serif;
                        color: rgba(255, 87, 90, 0.8);
                        font-weight: 600;
                        margin-top: 1em;
                        width: 100%;
                        padding: 14px 0;
                        background-color: rgba(255, 87, 90, 0.2);
                        border: none;
                        border-radius: 10px;
                        transition: 0.2s ease;

                        &:hover {
                            opacity: 0.9;
                            cursor: pointer;
                            transform: translateY(-4px);
                            box-shadow: 0 4px 0px rgba(201, 33, 47, 0.25);
                            transition: 0.2s ease;
                        }
                    }

                    .popular {
                        color: #faf7f2;
                        background: linear-gradient(to bottom left, #ff575a, #9b2146);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .pricing {
        .pricing-content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;

            .price-cards {
                margin-top: 4em;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .price-card {
                    width: 70%;
                    margin-bottom: 2em;

                    &:nth-child(1),
                    &:nth-child(3) {
                        position: relative;
                        top: 0px;
                    }

                    .price-top {
                        .plan-title {
                            margin-top: 0.2em;
                            font-size: 2.5rem;
                        }
                    }

                    .price-bottom {
                        .plan-price {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 760px) {
    .pricing {
        .pricing-content {
            .price-cards {

                .price-card {
                    width: 100%;
                    margin-bottom: 2em;

                    .price-top {
                        .plan-title {
                            margin-top: 0.2em;
                            font-size: 2.5rem;
                        }
                    }

                    .price-bottom {
                        .plan-price {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .pricing {
        .pricing-content {
            .pricing-title {
                font-size: 2rem;
                text-align: center;
            }

            .pricing-description {
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .pricing {
        padding-bottom: 2em;
        .pricing-content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            .price-cards {

                .price-card {
                    min-height: 300px;
                    width: 100%;
                    margin-bottom: 2em;

                    .price-top {
                        .plan-title {
                            margin-top: 0.2em;
                            font-size: 2.5rem;
                        }

                        margin-bottom: 2em;
                    }

                    .price-bottom {
                        .plan-price {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}